/* ==========================================================================
   Register page
   ========================================================================== */

.banner-register {
    background-image: url("../img/register-page-banner-900x257.jpg");
}

.external-link {
    padding-left: 0;

    li {
        display: inline-block;
        padding: 1.1em;
        list-style: none;
        font-size: 1.1em;
        font-weight: bold;
    }

    a {
        padding-top: 20px;
    }
}

.collage {
    img {
        display: block;
        border: 3px solid $dark-grey;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }
}
