/* ==========================================================================
   General
   ========================================================================== */
body {
    background: #1f1f1f;
    color: #444;
    font-family: Roboto;
}

.container {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 900px;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    color: #009ded;
}
a:hover {
    text-decoration: underline;
    color: #0074b0;
}

.site-title {
    font: bold 1.4em Ubuntu;
}

h1,
h2,
h3 {
    font-family: Ubuntu;
}

h1 {
    margin: 0 0 1em;
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

abbr [title] {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* Clearfix for float */
.cf::after {
    display: table;
    clear: both;
    content: "";
}

/* Fade in for page loads */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    -webkit-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    opacity: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */
header {
    border-bottom: 3px solid #009ded;
    background-color: #1f1f1f;
    width: 100%;
    height: 76px;
}

.facebook-icon {
    float: right;
}
.facebook-icon img {
    margin: 15px 0;
    border-radius: 5px;
}

.nav-icon {
    display: none;
    margin: 15px 0;
    background: #009ded url("../img/nav-icon.svg") center;
    width: 46px;
    height: 46px;
}

nav ul {
    display: -webkit-box;
    display: flex;
    margin: 0 auto;
    padding: 28px 0;
    list-style: none;
}
nav li {
    text-align: center;
    font-family: Ubuntu;
    font-size: 1.08em;
    font-weight: 700;
}
nav li a {
    /* Makes clickable area of link larger */
    padding: 10px;
}
nav a:hover {
    text-decoration: none;
}

.current {
    color: #777;
}

/* Mobile Nav Media Query
   ========================================================================== */
@media only screen and (max-width : 874px) {
    .nav-icon {
        display: inline-block;
        border-radius: 5px;
    }

    nav ul, nav nav:active ul {
        display: none;
        position: absolute;
        top: 57px;
        left: 5%;
        z-index: 9;
        border: 4px solid #009ded;
        border-radius: 0 5px 5px;
        background-color: #fff;
        padding: 10px;
        width: 122px;
    }
    nav li {
        width: 100%;
    }
    nav:hover ul {
        display: block;
    }
    nav a {
        display: block;
    }
}
/* ==========================================================================
   Section
   ========================================================================== */
section {
    background-color: #fff;
    padding: 15px 0 10px;
}

.banner {
    border: 3px solid #1f1f1f;
    border-radius: 5px;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    margin: 3%;
    width: 33%;
}

.form {
    margin: 15px auto;
    padding: 3% 3% 0;
    width: 100%;
}

.dark-box {
    border-radius: 5px;
    background-color: #1f1f1f;
    box-sizing: border-box;
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
    border-top: 3px solid #009ded;
    background-color: #1f1f1f;
    width: 100%;
    height: 100%;
    color: #fff;
}
footer p {
    margin: 22px 0;
    text-align: center;
    line-height: 1.5;
    font-size: 0.85em;
}

/* ==========================================================================
   Home page
   ========================================================================== */
.banner-home {
    background-image: url("../img/home-page-banner-900x257.jpg");
}

.content-home {
    float: left;
    margin-right: 3%;
    width: 58%;
}
.content-home .first-paragraph {
    margin-top: 0;
}
@media only screen and (max-width : 874px) {
    .content-home {
        margin: 0;
        width: 100%;
    }
}

.content-home-sidebar {
    float: left;
    margin-bottom: 15px;
    padding: 0 2%;
    width: 35%;
    box-sizing: content-box;
}
@media only screen and (max-width : 874px) {
    .content-home-sidebar {
        margin-bottom: 10px;
        width: 96%;
    }
}
.content-home-sidebar a :hover {
    text-decoration: none;
}
.content-home-sidebar ul {
    list-style: none;
}
.content-home-sidebar h3 {
    color: #fff;
}

@media only screen and (max-width : 874px) {
    .content-home-sidebar__lists {
        float: left;
        padding: 0 5%;
    }
}
@media only screen and (max-width : 740px) {
    .content-home-sidebar__lists {
        float: none;
        margin: 0 auto;
        max-width: 262px;
    }
}

/* ==========================================================================
   Register page
   ========================================================================== */
.banner-register {
    background-image: url("../img/register-page-banner-900x257.jpg");
}

.external-link {
    padding-left: 0;
}
.external-link li {
    display: inline-block;
    padding: 1.1em;
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
}
.external-link a {
    padding-top: 20px;
}

.collage img {
    display: block;
    border: 3px solid #1f1f1f;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* ==========================================================================
   Races page
   ========================================================================== */
.banner-races {
    background-image: url("../img/races-page-banner-900x257.jpg");
}

/* ==========================================================================
   Results page
   ========================================================================== */
.banner-results {
    background-image: url("../img/results-page-banner-900x257.jpg");
}

.content-results {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
}

.content-results-lists {
    margin: 15px;
    padding: 10px;
}
.content-results-lists h2,
.content-results-lists ul {
    margin: 1em;
    color: #fff;
}

/* ==========================================================================
   Volunteers page
   ========================================================================== */
.banner-volunteers {
    background-image: url("../img/volunteers-page-banner-900x257.jpg");
}

.scroll-down-msg {
    display: none;
    margin-top: 0;
    text-align: center;
}
@media only screen and (max-width : 740px) {
    .scroll-down-msg {
        display: block;
    }
}

.volunteers-signup-form {
    float: right;
    margin: 0 0 15px 15px;
    padding: 15px;
}
@media only screen and (max-width : 740px) {
    .volunteers-signup-form {
        float: none;
        margin-left: 0;
        width: 100%;
    }
}

/* ==========================================================================
   Officers
   ========================================================================== */
.banner-officers {
    background-image: url("../img/officers-page-banner-900x257.jpg");
}

.content-officers {
    position: relative;
    float: left;
    margin: 15px;
    width: 46%;
}
@media only screen and (max-width : 874px) {
    .content-officers {
        margin: 10px 0;
        width: 100%;
    }
}
.content-officers img {
    display: block;
    border: 3px solid #1f1f1f;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.content-officers h3 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-shadow: 0 0 5px #1f1f1f;
    color: #fff;
}

/* ==========================================================================
   404 page
   ========================================================================== */
.banner-404 {
    background-image: url("../img/404-page-banner-900x257.jpg");
}

/* ==========================================================================
   FAQ page
   ========================================================================== */
.banner-faq {
    background-image: url("../img/faq-page-banner-900x257.jpg");
}
/*# sourceMappingURL=maps/styles.css.map */
