/* ==========================================================================
   General
   ========================================================================== */

body {
    background: $dark-grey;
    color: $text-grey;
    font-family: Roboto;
}

.container {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 900px;
}

a {
    transition: 0.3s;
    text-decoration: none;
    color: $med-blue;

    &:hover {
        text-decoration: underline;
        color: $dark-blue;
    }
}

.site-title {
    font: bold 1.4em Ubuntu;
}

h1,
h2,
h3 {
    font-family: Ubuntu;
}

h1 {
    margin: 0 0 1em;
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

abbr {
    [title] {
        text-decoration: none;
    }
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

/* Clearfix for float */
.cf {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

/* Fade in for page loads */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn ease-in 1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
    border-bottom: 3px solid $med-blue;
    background-color: $dark-grey;
    width: 100%;
    height: 76px;
}

.facebook-icon {
    float: right;

    img {
        margin: 15px 0;
        border-radius: 5px;
    }
}

.nav-icon {
    display: none;
    margin: 15px 0;
    background: $med-blue url("../img/nav-icon.svg") center;
    width: 46px;
    height: 46px;
}

nav {
    ul {
        display: flex;
        margin: 0 auto;
        padding: 28px 0;
        list-style: none;
    }

    li {
        text-align: center;
        font-family: Ubuntu;
        font-size: 1.08em;
        font-weight: 700;

        a {
            /* Makes clickable area of link larger */
            padding: 10px;
        }
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.current {
    color: #777;
}

/* Mobile Nav Media Query
   ========================================================================== */

@media #{$mobile} {
    .nav-icon {
        display: inline-block;
        border-radius: 5px;
    }

    nav {
        &,
        & &:active {
            ul {
                display: none;
                position: absolute;
                top: 57px;
                left: 5%;
                z-index: 9;
                border: 4px solid $med-blue;
                border-radius: 0 5px 5px;
                background-color: $white;
                padding: 10px;
                width: 122px;
            }
        }

        li {
            width: 100%;
        }

        &:hover {
            ul {
                display: block;
            }
        }

        a {
            display: block;
        }
    }
}

/* ==========================================================================
   Section
   ========================================================================== */

section {
    background-color: $white;
    padding: 15px 0 10px;
}

.banner {
    border: 3px solid $dark-grey;
    border-radius: 5px;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    margin: 3%;
    width: 33%;
}

.form {
    margin: 15px auto;
    padding: 3% 3% 0;
    width: 100%;
}

.dark-box {
    border-radius: 5px;
    background-color: $dark-grey;
    box-sizing: border-box;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    border-top: 3px solid $med-blue;
    background-color: $dark-grey;
    width: 100%;
    height: 100%;
    color: $text-white;

    p {
        margin: 22px 0;
        text-align: center;
        line-height: 1.5;
        font-size: 0.85em;
    }
}
